.exchange-rate {
    margin-top: 45vh;
    transform: translateY(-50%);
    text-align: center;
}
.exchange-rate .select-group {
    margin-bottom: 15px;
    line-height: 1;
}
.exchange-rate .select-group select {
    padding: 5px;
    padding-right: 40px;
    border: 1px solid #989898;
    border-radius: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/icons/down-arrow.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 8px) center;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
}
.exchange-rate .right-arrow-icon {
    max-width: 24px;
    padding: 0 5px;
}

input[type="number"] {
    padding: 5px;
    line-height: 24px;
    border: 1px solid #989898;
    border-radius: unset;
    font-size: 16px;
}
button {
    background: #AD181E;
    color: #FFFFFF;
    border: unset;
    border-radius: unset;
    padding: 8px 30px;
    margin-left: 15px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    padding: 15px;
    width: fit-content;
    margin: auto;
}
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 17px;
    height: 17px;
    margin: 10px 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}